@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins-Regular.ttf) format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Set background color using CSS custom property */
    background-image: url(https://storage.googleapis.com/paintingcompanycom/images/bg.png);
    background-size: 50%;
    color: rgb(2, 2, 24); /* Set text color using CSS custom property */
    font-size: 18px;
    transition: 0.5s;
    z-index: -3;
}

.container {
    position: relative;
    height: 800px; /* Adjust as needed to cover the entire viewport */
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    overflow: hidden; /* Prevent content from overflowing */
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://storage.googleapis.com/paintingcompanycom/images/photo_wallpaper_1_darken.webp); /* Add the path to your background image */
    background-size: cover; /* Cover the entire container with the background image */
    background-position: center; /* Center the background image */
    filter: blur(5px); /* Apply blur effect to the background image */
    z-index: -1; /* Ensure the overlay stays behind the content */
}

.infobox{
    background-color: transparent; 
    width: 80%; 
    margin: auto; 
    border-radius: 10px; 
    padding: 1em; 
    margin-bottom: 1%; 
    margin-top: 1%;
    transition: 0.5s;
}

header {
    background: transparent;
    color: rgb(2, 2, 24);
    height: 200px;
    text-align: center;
    margin-bottom: 0em;
    transition: 2s;
    position: relative;
    z-index: -2;
}

.formbox {
    background-color: rgb(246, 246, 254); 
    justify-content: center;
    position: relative;
    display: flexbox;
    overflow: hidden;
    height: 800px;
    width: 30%; 
    height: 90%; 
    margin: auto; 
    top: 5%; 
    border-radius: 10px;
    min-width: 350px;
    transition: 0.5s;
}

.sidenav {
    background-color: rgb(230, 230, 230);
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            text-decoration: underline;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

@media screen and (max-width: 1200px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .infobox {margin-top: 5%; margin-bottom: 5%;}
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 10px 20px;
}

footer {
    background-color: #111; /* Set footer background color using CSS custom property */
    color: rgb(230, 230, 230);
    text-align: center;
    padding: 2px 0;
    position: page;
    bottom: 0;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    form input[type="text"],
    form input[type="email"],
    form input[type="tel"],
    form textarea {
        width: 80%;
        padding: 10px;
        margin-bottom: -15px;
        border: 1px solid #ccc;
        background-color: white;
        border-radius: 5px;
        box-sizing: border-box;
        transition: 0.5s;
    }

    form button {
        padding: 10px 50px;
        background-color: #2F27CE;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .switch {
        position: relative;
        left: 12%;
        display: inline-block;
        width: 60px;
        height: 34px;
        }

        /* Hide default HTML checkbox */
        .switch input {
        opacity: 0;
        width: 0;
        height: 0;
        }

        /* The slider */
        .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        }

        .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        }

        input:checked + .slider {
        background-color: #2196F3;
        }

        input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
        border-radius: 34px;
        }

        .slider.round:before {
        border-radius: 50%;
    }

    .btn {
        left: 100%; 
        float: right; 
        transform: translateY(-200%);
        background-color: transparent; 
        border: none; 
        font-size: 32px; 
        cursor: pointer; 
        background-color: transparent; 
        color: black; 
        padding: 12px 16px; 
        border-radius: 5px;
    }

    .accordion {
        background-color: #dfdfdf;
        position: relative;
        left: 10%;
        color: #444;
        cursor: pointer;
        padding: 18px;
        margin-bottom: 10px;
        border-radius: 10px;
        width: 80%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
    }

    .active, .accordion:hover {
        background-color: #ccc;
    }

    .panel {
        padding: 0 18px;
        position: relative;
        left: 10%;
        background-color: transparent;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .dark-mode {
        background-color: #111;
        background-image: none;
        header {background: linear-gradient(#070707 50%, #111 100%); color: white;}
        footer {color: #FFF;}
        .infobox {color: white;}
        .formbox {background-color: #1a1919; color: white;}
        form textarea {background-color: #252424; color: white;}
        form input {background-color: #252424; color: white;}
        .btn {color: #FFF;};
        .accordion {background-color: #1a1919; color: white;}
        .panel {color: white;}
    } 